body {
    background-color: #b3ff80;
    color: #0b2902;
    padding: 0;
    margin: 0;
    font-size: 19px;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

footer {
    color: white;
    background-color: #501644;
    padding: 1em;
}

/**********************************************************
 -- ELEMENTS --
**********************************************************/
.box {
    background:url(box.svg);
    background-size: 100% 100%;
    padding: 10px;
}

.none-box {
    padding: 20px;
}

.code {
    background:url(code.svg);
    background-size: 100% 100%;
    padding: 10px;
    font-family: Consolas, monospace;
}

/**********************************************************
 -- TOP MENU --
**********************************************************/
#topmenu {
    /* pull the menu to the right */
    display: flex;
    flex-direction: row-reverse;
}

#topmenu ul {
    /* display entries in a row */
    display: flex;
    flex-direction: row;
    /* remove the marker point from the item */
    list-style-type: none;
}

#topmenu ul li {
    padding: 10px;
    margin-right: 5px;
}

/* a separate color for each menu entry */
#topmenu ul li:nth-child(1) {
    background-color: #ffd42a;
}

#topmenu ul li:nth-child(2) {
    background-color: #2ad4ff;
}

#topmenu ul li:nth-child(3) {
    background-color: #ff7f2a;
}

/**********************************************************
 -- PAGE TITLE --
**********************************************************/
#pagetitle {
    display: flex;
    justify-content: center;
}

/**********************************************************
 -- GET IT --
**********************************************************/

/**********************************************************
 -- HIGHLIGHTS
**********************************************************/
#highlights {
    display: flex;
    justify-content: center;
}

#highlights div:nth-child(1) {
    padding-right: 20px;
}

/**********************************************************
 -- LEARN IT --
**********************************************************/

